name: env-best-practice

on:
  push:
    branches: ["main"]

env:
  GLOBAL_SECRET: ${{ secrets.API_KEY }} # secret -> safe in all steps
  GLOBAL_VAR: ${{ vars.API_KEY }} # variable -> visible in logs

jobs:
  run-tests:
    runs-on: ubuntu-latest
    env:
      LOCAL_SECRET: ${{ secrets.API_KEY }}
      LOCAL_VAR: ${{ vars.API_KEY }}
    steps:
      - name: env
        run: |
          echo "global secrets: $GLOBAL_SECRET"
          echo "global variable: $GLOBAL_VAR"
          echo "local secret: $LOCAL_SECRET"
          echo "local variable: $LOCAL_VAR"
