name: env

on:
  push:
    branches: ["main"]

jobs:
  run-tests:
    runs-on: ubuntu-latest
    steps:
      - run: echo "env $API_KEY"
      - run: echo "env ${{ API_KEY }}"
      - run: echo "env $token1"
      - run: echo "env $token2"
    env:
      token1: $API_KEY
      token2: ${{ vars.API_KEY }}
