name: env

on:
  push:
    branches: ["main"]

jobs:
  run-tests:
    runs-on: ubuntu-latest
    steps:
      - run: echo "env ${{ secrets.API_KEY }}"
      - run: echo "env $token"
    env:
      token: ${{ secrets.API_KEY }}
